{% extends 'base.content.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block stylesheets %}
    <style>
        #map { height: 300px; }
    </style>
{% endblock %}

{% block styles_finish %}
    {{ include('part/finish.for.geomapdata.html.twig') }}
{% endblock %}

{% block body %}
    <div class="container py-5">
        <h1 class="h2">{{ title }}</h1>
        <div class="row">
            <p><a href="{{ path('content_lists') }}">{{ all }}</a>.</p>

            {% if geoMapData.center %}
                <div id="map"></div>
            {% endif %}

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Год і месца</th>
                    <th scope="col">Назва</th>
                    <th scope="col">Заўвагі</th>
                    <th scope="col">Відэа</th>
                </tr>
                </thead>

                <tbody>
                {% for marker in markers %}
                    <tr>
                        <td>
                            {% set report = marker.getReport() %}
                            {% set year = report.getDateActionYear() %}
                            {% if year %}{{ year }},{% endif %}

                            {% if report.geoPoint %}
                                <b>{{ report.geoPoint.getMiddleBeName() }}</b>
                                {%- if report.geoPoint.district %},
                                    {{ report.geoPoint.district }}
                                {% endif %}
                            {% else %}
                                {% set reportPlace = report.getGeoPlace() %}
                                {% if reportPlace %}
                                    {{ reportPlace }}
                                {% else %}
                                    [невядомае месца]
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>
                            {% if categories is defined %}
                                {{ categories[marker.category] }}:
                            {% endif %}
                            {{ marker.name }}
                            {% for tag in marker.tags %}
                                <span class="badge text-bg-secondary">{{ tag.name }}</span>
                            {% endfor %}
                            <a href="{{ path('content_marker', {id: marker.id}) }}"><i class="bi bi-arrow-right-circle"></i></a>
                        </td>
                        <td>
                            {% if marker.ritual %}
                                {% for ritual in marker.ritual.getRitualList() %}
                                    {{- ritual.name -}}
                                    {% if not loop.last %}<i class="bi bi-arrow-right"></i>{% endif %}
                                {%- endfor -%}.

                                <br />
                                {% if marker.notes is not empty %}-----<br />{% endif %}
                            {% endif %}

                            {{ marker.notes }}

                            {% if marker.decoding %}
                                <button title="Расшыфроўка" class="btn btn-outline-secondary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ marker.id }}" aria-expanded="false" aria-controls="collapse{{ marker.id }}">
                                    <i class="bi bi-arrow-down-square-fill"></i>
                                </button>
                                <div class="collapse" id="collapse{{ marker.id }}">
                                    <div class="card card-body">
                                        {{ marker.decoding|nl2br }}
                                    </div>
                                </div>
                            {% endif %}
                        </td>
                        <td>
                            {% set youtube = marker.getAdditionalYoutube() %}
                            {% if youtube is not empty %}
                                {% if marker.isPublished() %}
                                    <a target="_blank" href="{{ marker.getAdditionalYoutubeLink() }}">Глядзець</a>
                                {% else %}
                                    <p>Будзе апублікавана {{ marker.getPublishDateText() }}</p>
                                {% endif %}
                            {% endif %}

                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

        </div>
    </div>
{% endblock %}