<div class="accordion" id="accordionCategory">
    {% for category, markers in markerGroups %}
        {% if categories[category] is defined %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ category }}" aria-expanded="false" aria-controls="collapseTwo">
                        {{ categories[category] }} ({{ markers|length }})
                    </button>
                </h2>
                <div id="collapse{{ category }}" class="accordion-collapse collapse" data-bs-parent="#accordionCategory">
                    <div class="accordion-body">

                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Назва</th>
                                <th scope="col">Месца</th>
                                <th scope="col">Дадаткова</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for marker in markers %}
                                {% if marker.reportBlock %}
                                    {% set reportBlock = marker.reportBlock %}
                                {% else %}
                                    {% set reportBlock = marker.file.reportBlock %}
                                {% endif %}

                                {% set report = reportBlock.report %}

                                <tr>
                                    <td>
                                        {{ marker.name }}
                                        <a href="{{ path('report_show', {id: report.id}) }}" class="d-print-none">
                                            <i class="bi bi-box-arrow-in-right"></i>
                                        </a>
                                    </td>
                                    <td>
                                        {% if report.geoPoint %}
                                            <b>{{ report.geoPoint.getName() }}</b>
                                            <a href="{{ path('place_item', {id: report.geoPoint.id}) }}" class="d-print-none">
                                                <i class="bi bi-box-arrow-in-right"></i>
                                            </a>
                                        {% else %}
                                            {{ report.geoNotes }}
                                            {% if report.geoNotes is not empty %}
                                                <i class="bi bi-exclamation-triangle text-danger"></i>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ marker.notes }}
                                        {% if marker.decoding %}
                                            <button title="Расшыфроўка" class="btn btn-outline-secondary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ marker.id }}" aria-expanded="false" aria-controls="collapse{{ marker.id }}">
                                                <i class="bi bi-arrow-down-square-fill"></i>
                                            </button>
                                            <div class="collapse" id="collapse{{ marker.id }}">
                                                <div class="card card-body">
                                                    {{ marker.decoding|nl2br }}
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% for tag in marker.tags %}
                                            <span class="badge text-bg-secondary">{{ tag.name }}</span>
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
