{% extends 'base.html.twig' %}

{% block title %}
    Сьпіс скрыптоў па дапамозе ў апрацоўцы
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="p-2">
                <h3>Інфарманты</h3>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="{{ path('app_import_tools_informants') }}">Сьпіс усіх інфармантаў</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{{ path('app_import_tools_all_middle_names') }}">Сьпіс усіх прозвішч</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{{ path('app_import_tools_duplicate_informant_names') }}">Сьпіс дублей імён</a>
                    </li>
                    <li class="list-group-item">
                        <span class="badge text-bg-danger">Увага!</span>
                        <a href="{{ path('app_import_tools_update_name_informants') }}">
                            Паправіць імёны і пол усіх інфармантаў
                        </a>
                    </li>
                    <li class="list-group-item">
                        <span class="badge text-bg-danger">Увага!</span>
                        <a href="{{ path('app_import_tools_update_all_musicians') }}">
                            Паправіць ярлык музыканта
                        </a>
                    </li>
                    <li class="list-group-item">
                        <span class="badge text-bg-danger">Увага!</span>
                        <a href="{{ path('app_import_tools_merge_duplicate_informants') }}">
                            Аб'яднаць інфармантаў з поўным супадзеньнем
                        </a>
                    </li>
                </ul>
            </div>

            <div class="p-2">
                <h3>Пошук</h3>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="{{ path('app_search_index') }}">Індэксацыя справаздач</a>
                    </li>
                </ul>
            </div>

            <div class="p-2">
                <h3>Архіў Козенкі</h3>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="{{ path('app_import_video_koz_playlists') }}">Сьпіс плэйлістоў для канала</a> <br>
                        <a href="{{ path('app_import_video_koz_list') }}">Сьпіс відэа</a> <br>
                        <a href="{{ path('app_import_video_koz_update_publish_date') }}">Задаць усім відэа дату публікацыі</a> <br>

                        <span class="badge text-bg-danger">Увага!</span>
                        <a href="{{ path('app_import_video_koz_update_all_items') }}">
                            Абнавіць усе апісаньні
                        </a> <br>

                        <span class="badge text-bg-danger">Увага!</span>
                        <a href="{{ path('app_import_video_koz_update_all_playlists') }}">
                            Абнавіць усе плэйлісты
                        </a> <br>

                        <span class="badge text-bg-danger">Увага!</span>
                        <a href="{{ path('app_import_video_koz_show_all_items') }}">
                            Адкрыць відэа без даты публікаваньня
                        </a> <br>
                    </li>
                </ul>
            </div>

            <div class="p-2">
                <h3>Лакацыі</h3>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="{{ path('app_import_tools_update_geo') }}">Удакладненьне рэгіёна і вобласьці для ўрочышч</a> <br>
                        <a href="{{ path('app_import_tools_detect_report_points') }}">Знайсьці пункты для нявызначаных месц справаздач</a> <br>
                        <a href="{{ path('app_import_tools_detect_informant_points') }}">Знайсьці пункты для нявызначаных месц у інфармантаў</a> <br>
                        <a href="{{ path('app_import_tools_correct_informant_places') }}">Пачысьціць дублі месц у інфармантаў</a>
                    </li>
                </ul>
            </div>

            <div class="p-2">
                <h3>Імпарты</h3>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="{{ path('app_import_imef_queue') }}">Стварыць чаргу для апрацоўкі ІМЭФ данных</a> <br>
                        <a href="{{ path('app_import_kobo_check') }}">Прэдпрагляд апрацоўкі Kobo-файла</a> <br>
                        <a href="{{ path('app_import_video_koz_check') }}">Прэдпрагляд апрацоўкі файла відэа-архіва Козенкі</a> <br>
                        <a href="{{ path('app_import_doc_check') }}">Прэдпрагляд апрацоўкі Word-файла архіва СЭТа</a> <br>
                        <a href="{{ path('app_import_files_check') }}">Прэдпрагляд апрацоўкі медыа-файлаў архіва СЭТа</a> <br>
                        <a href="{{ path('app_import_vopis_check') }}">Прэдпрагляд апрацоўкі простага вопіса ў табліцы</a> <br>
                        <a href="{{ path('app_import_vopis_detailed_check') }}">Прэдпрагляд апрацоўкі дэталізаванага вопіса ў табліцы</a>
                            <mark data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{ vopis_detailed_columns }}">
                                 Калонкі
                            </mark><br>
                        <a href="{{ path('app_import_map_select') }}">Загрузка данных на мапу</a> <br>
                    </li>
                </ul>
            </div>

        </div>
    </div>
{% endblock %}
