<h3>Блок {{ blockIndex }}</h3>
<div class="card mb-3" id="block{{ blockIndex }}body">
    <div class="card-header">
        Асноўная інфармацыя блока {{ blockIndex }}
    </div>

    <div class="card-body">
        <form>
            <input type="hidden" id="editReportBlock{{ blockIndex }}" value="{{ block.id }}">
            <div class="input-group mb-3">
                <span class="input-group-text">Тып</span>
                <select class="form-select" aria-label="Тып">
                    {% for id, name in constant('App\\Entity\\Type\\ReportBlockType::TYPES') %}
                        <option value="{{ id }}" {% if id == block.type %}selected="selected"{% endif %}>
                            {{ name }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Вопіс блока</span>
                <textarea class="form-control" aria-label="With textarea">{{ block.description }}</textarea>
            </div>

            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text">Арганізацыя / гурт</span>
                    <select class="form-select" aria-label="Арганізацыя">
                        <option selected>- выбраць -</option>
                        {% if block.organization %}
                            <option selected value="{{ block.organization.id }}">{{ block.organization.name }}</option>
                        {% endif %}
                    </select>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addOrgModal">Дадаць новую</button>

                </div>
            </div>

            <div class="mb-3">
                <div class="input-group">
                    <label class="input-group-text" for="blockNotesUsers">Заўвагі да даследвальнікаў</label>
                    <input type="text" class="form-control" value="{{ block.userNotes }}" id="blockNotesUsers">
                </div>
            </div>

            <div class="mb-3">
                <div class="input-group">
                    <label class="input-group-text" for="blockNotesPhoto">Заўвагі к фота</label>
                    <input type="text" class="form-control" value="{{ block.photoNotes }}" id="blockNotesPhoto">
                </div>
            </div>

            <div class="mb-3">
                <div class="input-group">
                    <label class="input-group-text" for="blockNotesVideo">Заўвагі к відэа</label>
                    <input type="text" class="form-control" value="{{ block.videoNotes }}" id="blockNotesVideo">
                </div>
            </div>

            <div class="mb-3">
                <button type="button" class="btn btn-success edit-report-block"
                        data-index="{{ blockIndex }}"
                        id="editReportBlock{{ blockIndex }}SaveAction">Захаваць</button>
            </div>
        </form>
    </div>
</div>

<div class="card mb-3" id="block{{ blockIndex }}informants">
    <div class="card-header">
        Інфарманты блока {{ blockIndex }}
    </div>

    <div class="card-body" id="allBlock{{ blockIndex }}Informants">
        {# list of informants #}
        <hr>
        <p>
            Дадаць новага інфарманта
            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#addInformantModal" data-bs-block="{{ blockIndex }}">
                Дадаць
            </button>
        </p>

        {% include('report/part/template.block.informant.html.twig') %}

        {% for informant in block.informants %}
            <script type="application/javascript">
                addInformantBlock('{{ blockIndex }}', '{{ informant.id }}', '{{ informant.firstName }}', '{{ informant.yearBirth }}', '{{ informant.notes }}')
            </script>
        {% endfor %}
    </div>
</div>

<div class="card mb-3" id="block{{ blockIndex }}tags">
    <div class="card-header">
        Краткае апісаньне эпізодаў блока {{ blockIndex }}
    </div>

    <div class="card-body" id="allBlock{{ blockIndex }}Markers">
        {# list of markers #}
        <hr>
        <p>
            Дадаць новы эпізод
            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#addEpisodeModal" data-bs-block="{{ blockIndex }}">
                Дадаць
            </button>
        </p>

        {% if block.getContentFile() %}
            {% for marker in block.getContentFile().fileMarkers %}
                <script type="application/javascript">
                    category = '{% if marker.isCategoryNotOther() %}{{ marker.getCategoryName() }}{% endif %}'
                    tags = {{ marker.tags|json_encode|raw }};
                    addMarkerBlock('{{ blockIndex }}', '{{ marker.id }}', category, '{{ marker.name }}', tags, '{{ marker.notes }}')
                </script>
            {% endfor %}
        {% endif %}
    </div>
</div>

<div class="card mb-3" id="block{{ blockIndex }}items">
    <div class="card-header">
        Прадметы блока {{ blockIndex }}
    </div>

    <div class="card-body" id="allBlock{{ blockIndex }}Subjects">
        {# list of subjects #}
        <hr>
        <p>
            Дадаць новы прадмет
            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#addSubjectModal" data-bs-block="{{ blockIndex }}">
                Дадаць
            </button>
        </p>

        {% for subject in block.subjects %}
        <script type="application/javascript">
            addSubjectBlock('{{ blockIndex }}', '{{ subject.id }}', '{{ subject.getTypeName() }}', '{{ subject.name }}')
        </script>
        {% endfor %}
    </div>
</div>

<div class="card mb-3" id="block{{ blockIndex }}tasks">
    <div class="card-header">
        Планы, задачы, наводкі блока {{ blockIndex }}
    </div>

    <div class="card-body" id="all_{{ blockIndex }}_Tasks">
        {# list of block tasks #}
        <hr>
        <p>
            Дадаць новы план, задачу, наводку
            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#addTaskPlanModal" data-bs-block="{{ blockIndex }}">
                Дадаць
            </button>
        </p>
    </div>

    {% for task in block.tasks %}
        <script type="application/javascript">
            addReportTaskBlock('{{ blockIndex }}', '{{ task.status }}', '{{ task.id }}', '{{ task.content }}', '{% if task.informant %} {{ task.informant.firstName }} {% endif %}')
        </script>
    {% endfor %}

</div>
