<a class="text-success" href="#block{{ blockIndex }}body" title="Асноўная інфармацыя блока {{ blockIndex }}"><i class="bi bi-{{ blockIndex }}-square"></i></a>
<a class="d-none showThisAfterSaveBlock{{ blockIndex }}" href="#block{{ blockIndex }}informants" title="Інфарманты блока {{ blockIndex }}"><i class="bi bi-person-vcard"></i></a>
<a class="d-none showThisAfterSaveBlock{{ blockIndex }}" href="#block{{ blockIndex }}tags" title="Эпізоды блока {{ blockIndex }}"><i class="bi bi-tag"></i></a>
<a class="d-none showThisAfterSaveBlock{{ blockIndex }}" href="#block{{ blockIndex }}items" title="Прадметы і далей задачы блока {{ blockIndex }}"><i class="bi bi-box-seam"></i></a>
