{% extends 'base.content.html.twig' %}

{% block title %}
    Інфармацыя па {{ geoPoint.getLongBeName() }}
{% endblock %}

{% block body %}
    <div class="container py-5">
        <h1 class="h2">
            Інфармацыя па
            {{ geoPoint.getLongBeName() }}{% if geoPoint.district %}, {{ geoPoint.district }}{% endif %}
        </h1>
        {% if is_granted('ROLE_USER') %}
            <p class="text-start">
                <small>
                    <a href="{{ path('place_item_near', {id: geoPoint.id}) }}">Вакол гэтага населенага пункта</a>,
                    <a href="{{ path('place_item_near_informants', {id: geoPoint.id}) }}">Інфарманты вакол</a>,
                    <a href="{{ path('place_item_near_informants_export', {id: geoPoint.id}) }}"><i class="bi bi-cloud-arrow-down"></i> Экспарт інфармантаў</a>
                    <a href="{{ path('place_item_near_songs', {id: geoPoint.id}) }}">Песьні вакол</a>,
                    <a href="{{ path('place_item_near_songs_print', {id: geoPoint.id}) }}">Друк песень</a>,
                    <a href="{{ path('place_item_near_songs_export', {id: geoPoint.id}) }}"><i class="bi bi-cloud-arrow-down"></i> Экспарт песень</a>
                    <a href="{{ path('place_item_near_other_export', {id: geoPoint.id}) }}"><i class="bi bi-cloud-arrow-down"></i> Экспарт іншага</a>
                </small>
            </p>
        {% endif %}
        <p class="text-end"><small><a href="{{ path('place_list') }}">Усе лакацыі</a></small></p>

        <div class="row mb-3">
            <h5 class="text-success">Справаздачы</h5>
            <ul class="list-group">
                {% for report in reports %}
                    <a href="{{ path('report_show', {id: report.id}) }}" class="list-group-item list-group-item-action">
                        <b>{{ report.expedition.name }}</b>,
                        {{ report.getTextDateAction() }}

                        {% for block in report.blocks %}
                            | {{ block.getTypeName() }}
                        {% endfor %}

                        {% if report.getAmountTaskTips() > 0 %}
                            | <span title="Наводкі">
                                    <i class="bi bi-truck"></i> <b>{{ report.getAmountTaskTips() }}</b>
                                </span>
                        {% endif %}
                        {% if report.getAmountTaskQuestions() > 0 %}
                            | <span title="Пытаньні">
                                    <i class="bi bi-question-square"></i> <b>{{ report.getAmountTaskQuestions() }}</b>
                                </span>
                        {% endif %}
                    </a>
                {% endfor %}
            </ul>
        </div>

        {% if tasks|length > 0 %}
            <div class="row mb-3">
                <h5 class="text-success">Заўвагі</h5>
                <ul class="list-group">
                    {% for task in tasks %}
                        <a href="#" class="list-group-item list-group-item-action">
                            {% include 'part/task.full.html.twig' with {'task': task, 'geoPoint': geoPoint} %}
                        </a>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if organizations|length > 0 %}
            <div class="row mb-3">
                <h5 class="text-success">Арганізацыі / Калектывы</h5>
                <ul class="list-group">
                    {% for organization in organizations %}
                        <a href="#" class="list-group-item list-group-item-action">
                            {% include 'part/organization.full.html.twig' with {'organization': organization} %}
                        </a>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="row mb-3">
            <h5 class="text-success">Інфарманты</h5>
            {% if informants|length == 0 %}
                <p>няма</p>
            {% else %}
                <ul class="list-group">
                    {% for informant in informants %}
                        <a href="#" class="list-group-item list-group-item-action">
                            {% include 'part/informant.full.html.twig' with {'geoPoint': geoPoint, 'isLink' : true} %}
                        </a>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        {% if subjects|length > 0 %}
            <div class="row mb-3">
                <h5 class="text-success">Прадметы</h5>
                <ul class="list-group">
                    {% for subject in subjects %}
                        <a href="#" class="list-group-item list-group-item-action">
                            {% include 'part/subject.full.html.twig' with {'subject': subject} %}
                        </a>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="row mb-3">
            <h5 class="text-success">Уся інфармацыя з гэтага населенага пункта</h5>
            {% include 'part/marker.grouped.html.twig' with {'markerGroups': markerGroups, 'categories': categories} %}
        </div>

    </div>
{% endblock %}
