{% extends 'base.html.twig' %}

{% block title %}
    Сьпіс усіх лакацый
{% endblock %}

{% block body %}
    <div class="container py-5">
        <h1 class="h2">Сьпіс лакацый</h1>

        <div class="accordion" id="accordionLocations">
            {% set key = 1 %}
            {% set keyA = 1000 %}
            {% for locationRegion in locations.groups %}
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ key }}" aria-expanded="false" aria-controls="collapseTwo">
                            {{ locationRegion.name }}
                        </button>
                    </h2>
                    <div id="collapse{{ key }}" class="accordion-collapse collapse" data-bs-parent="#accordionLocations">
                        <div class="accordion-body">

                            <div class="accordion" id="accordionLocations{{ key }}">
                                {% for locationDistrict in locationRegion.groups %}
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ keyA }}" aria-expanded="false" aria-controls="collapseTwo">
                                                {{ locationDistrict.name }}
                                            </button>
                                        </h2>
                                        <div id="collapse{{ keyA }}" class="accordion-collapse collapse" data-bs-parent="#accordionLocations{{ key }}">
                                            <div class="accordion-body">
                                                <a href="{{ path('place_district_informants_export', {district: locationDistrict.name}) }}"><i class="bi bi-cloud-arrow-down"></i> Экспарт інфармантаў</a>,
                                                <a href="{{ path('place_district_songs_export', {district: locationDistrict.name}) }}"><i class="bi bi-cloud-arrow-down"></i> Экспарт песень</a>,
                                                <a href="{{ path('place_district_other_export', {district: locationDistrict.name}) }}"><i class="bi bi-cloud-arrow-down"></i> Экспарт іншага</a>
                                                <br /><br />

                                                {% for locationOther in locationDistrict.items %}
                                                - <a href="{{ path('place_item', {id: locationOther.id}) }}">{{ locationOther.name }}</a><br />
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    {% set keyA = keyA + 1 %}
                                {% endfor %}

                                {% if locationRegion.items|length %}
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ keyA }}" aria-expanded="false" aria-controls="collapseTwo">
                                                Іншае
                                            </button>
                                        </h2>
                                        <div id="collapse{{ keyA }}" class="accordion-collapse collapse show" data-bs-parent="#accordionLocations{{ key }}">
                                            <div class="accordion-body">
                                                {% for locationOther in locationRegion.items %}
                                                    - <a href="{{ path('place_item', {id: locationOther.id}) }}">{{ locationOther.name }}</a><br />
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    {% set keyA = keyA + 1 %}
                                {% endif %}
                            </div>

                        </div>
                    </div>
                </div>
                {% set key = key + 1 %}
            {% endfor %}

            {% if locations.items|length %}
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ key }}" aria-expanded="false" aria-controls="collapseTwo">
                            Іншае
                        </button>
                    </h2>
                    <div id="collapse{{ key }}" class="accordion-collapse collapse show" data-bs-parent="#accordionLocations">
                        <div class="accordion-body">
                            {% for locationOther in locations.items %}
                                - <a href="{{ path('place_item', {id: locationOther.id}) }}">{{ locationOther.name }}</a><br />
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
         </div>
    </div>
{% endblock %}
