{% extends 'base.html.twig' %}

{% block title %}
    {% if report.id %}Справаздача{% else %}Новая справаздача{% endif %}
    для экспедыцыі {{ report.expedition.name }}
{% endblock %}

{% block stylesheets %}
    <style>
        .sidenav {
            width: 40px;
            position: fixed;
            z-index: 1;
            top: 50px;
            left: 5px;
            overflow-x: hidden;
            padding: 6px 0;
        }

        .sidenav a {
            padding: 2px 5px 2px 5px;
            text-decoration: none;
            font-size: 25px;
            display: block;
        }

        .main {
            margin-left: 55px; /* Same width as the sidebar + left position in px */
        }

        @media screen and (max-height: 450px) {
            .main {margin-left: 50px;}
        }
    </style>
{% endblock %}

{% block body %}
    <div class="sidenav bg-body-secondary text-primary">
        <a class="" href="#reportBody" title="Асноўная інфармацыя справаздачы"><i class="bi bi-file-text"></i></a>
        <a class="" href="#reportTasks" title="Планы і задачы ўсёй справаздачы"><i class="bi bi-calendar-event"></i></a>
        <hr >

        {% for block in report.blocks %}
            {% include('report/part/menu.html.twig') with {'blockIndex': loop.index} %}
        {% endfor %}

        <a class="text-success" id="createNewBlock" title="Дадаць новы блок"><i class="bi bi-plus-square"></i></a>

        <hr >
        <a class="" data-bs-toggle="modal" data-bs-target="#toNewReport" title="Дадаць новую справаздачу"><i class="bi bi-file-earmark-plus"></i></a>
    </div>

    <div class="d-none" id="blockMenuTemplate">
        {% include('report/part/menu.html.twig') with {'blockIndex': 'NUMBERBLOCK'} %}
    </div>

    <div class="main" id="mainBlock">
        <h2>{% if report.id %}Справаздача #{{ report.id }}{% else %}Новая справаздача{% endif %} для экспедыцыі {{ report.expedition.name }}</h2>
        <div class="card mb-3" id="reportBody">
            <div class="card-header">
                Справаздача
            </div>

            <div class="card-body">
                <form>
                    <input type="hidden" id="editReportId" value="{{ report.id }}">
                    <div class="input-group mb-3">
                        {% if report.dateAction %}
                            {% set date = report.dateAction %}
                        {% else %}
                            {% set date = "now" %}
                        {% endif %}
                        <label class="input-group-text" for="newReportDate">Дата даследваньня</label>
                        <input type="date" class="form-control" id="newReportDate" required
                               value="{{ date|date("Y-m-d") }}"
                               max="{{ date|date("Y-m-d") }}"
                               min="{{ date|date_modify("-20 days")|date("Y-m-d") }}">
                    </div>

                    <div class="input-group mb-3">
                        <label class="input-group-text" for="newReportNotes">Агульныя заўвагі</label>
                        <input type="text" class="form-control" value="{{ report.notes }}" id="newReportNotes">
                    </div>

                    <div class="input-group mb-3">
                        <label class="input-group-text" for="newReportCode">Код</label>
                        <input type="text" class="form-control" value="{{ report.code }}" id="newReportCode">
                        <span class="input-group-text">
                              Будзе як назва папкі для файлаў да гэтага блоку
                        </span>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">Месца</span>
                        <select class="form-select" aria-label="new report location">
                            <option selected>- невядома -</option>
                            {% set selected = report.geoPoint == null %}
                            {% for geoPoint in geoPoints %}
                                <option value="{{ geoPoint.id }}"
                                        {% if report.geoPoint and report.geoPoint.id == geoPoint.id %}selected{% set selected = true %}{% endif %}>
                                    {{ geoPoint.getFullBeName() }}
                                </option>
                            {% endfor %}
                            {% if not selected %}
                                <option selected value="{{ report.geoPoint.id }}">
                                    {{ report.geoPoint.getFullBeName() }}
                                </option>
                            {% endif %}
                        </select>
                        <button type="button" class="btn btn-primary">Паглядзець на мапе</button>
                        <span class="input-group-text">няма ў спісе</span>
                        <input type="text" class="form-control" placeholder="вёска, раён [, вобласць, краіна]" value="{{ report.geoNotes }}" aria-label="new report other location">
                    </div>

                    <button type="button" class="btn btn-success" id="reportSaveAction">Захаваць</button>
                </form>
            </div>
        </div>

        <div class="card mb-3" id="reportUsers">
            <div class="card-header">
                Даследвальнікі
            </div>

            <div class="card-body" id="allUserRoles">
                {% for userRoles in report.getUserReportsGroupsByUser() %}
                    <p>
                        {% for userRole in userRoles %}
                            {% if loop.index == 1 %} <u>{{ userRole.participant.gelFullName() }}</u>: {% endif %}
                            <span id="editUserReport{{ userRole.id }}">
                                {{ userRole.getRoleName() }}
                                <button type="button" class="btn btn-danger report-user-role" data-index="{{ userRole.id }}">Выдаліць</button>
                                {% if not loop.last %},{% endif %}
                            </span>
                        {% endfor %}
                    </p>
                {% endfor %}
                <div class="d-none" id="createNewUserRoleTemplate">
                    <p>
                        <u>USERFULLNAME</u>:
                        <span id="editUserReportUSERROLEID">
                            USERROLENAME
                            <button type="button" class="btn btn-danger report-user-role" data-index="USERROLEID">Выдаліць</button>
                        </span>
                    </p>
                </div>

                <hr>
                <p>
                    Дадаць удзельніка і яго ролі
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addReportUserModal">
                        Дадаць
                    </button>
                </p>
            </div>
        </div>

        <div class="card mb-3" id="reportTasks">
            <div class="card-header">
                Планы, задачы, наводкі
            </div>

            <div class="card-body">
                {% for task in report.tasks %}
                    <p id="editReportTask{{ task.id }}">
                        {% if task.status == constant('App\\Entity\\Type\\TaskStatus::TIP') %}
                            Наводка:
                        {% endif %}
                        {{ task.content }}
                        {% if task.informant %}
                            Інфармант: {{ task.informant.firstName }}
                        {% endif %}
                        <button type="submit" class="btn btn-danger report-task" data-index="{{ task.id }}">Выдаліць</button>
                    </p>
                {% endfor %}
                <hr>
                <p>
                    Дадаць новы план, задачу, наводку
                    <button type="button" class="btn btn-primary"
                            data-bs-toggle="modal" data-bs-target="#addTaskPlanModal"
                            data-type-modal="report">
                        Дадаць
                    </button>
                </p>
            </div>
        </div>

        {% for block in report.blocks %}
            {% set blockIndex = loop.index %}
            {% include('report/part/block.html.twig') with {'blockIndex': loop.index, 'block': block} %}
        {% endfor %}

        <div class="d-none" id="createNewBlockTemplate">
            {% include('report/part/block.html.twig') with {'blockIndex': 'NUMBERBLOCK', 'block': newBlock} %}
        </div>
    </div>

    <!-- Modals -->

    <!-- Modal: addReportUserModal -->
    <div class="modal fade" id="addReportUserModal" tabindex="-1" aria-labelledby="addReportUserModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addReportUserModalLabel">Дадаць новага ўдзельніка</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formAddReportUser">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Імя</span>
                            <select name="user" class="form-select" aria-label="Name of user" required>
                                <option selected disabled value="">- выбярыце са сьпіса -</option>
                                {% for id, name in users %}
                                    <option value="{{ id }}">{{ name }}</option>
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback">
                                Калі ласка, выбярыце даследчыка
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            {% for role, name in constant('App\\Entity\\Type\\UserRoleType::ROLES') %}
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input roles" type="checkbox"
                                           id="role{{ role }}" name="{{ role }}" value="{{ role }}">
                                    <label class="form-check-label" for="role{{ role }}">{{ name }}</label>
                                </div>
                            {% endfor %}
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыць</button>
                    <button type="button" class="btn btn-success" id="saveReportUser">Дадаць</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal: addTaskPlanModal -->
    <div class="modal fade" id="addTaskPlanModal" tabindex="-1" aria-labelledby="addTaskPlanModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addTaskPlanModalLabel">Дадаць новы план, задачу, наводку</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="addTaskPlanModalNotes"></p>
                    <form id="formAddTaskPlan">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="taskType">Тып</span>
                            <select class="form-select" aria-label="Type of task" required>
                                {% for id, name in constant('App\\Entity\\Type\\TaskStatus::STATUSES') %}
                                    <option value="{{ id }}">{{ name }}</option>
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback">
                                Калі ласка, выбярыце тып
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">Тэкст</span>
                            <textarea class="form-control" aria-label="Text of task" required></textarea>
                            <div class="invalid-feedback">
                                Калі ласка, напішыце тэкст задачы
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Інфармант</span>
                            <select class="form-select" aria-label="Informant of task">
                                <option selected>- выбраць -</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыць</button>
                    <button type="button" class="btn btn-success" id="saveReportTask">Дадаць</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal: addOrgModal -->
    <div class="modal fade" id="addOrgModal" tabindex="-1" aria-labelledby="addOrgModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addOrgModalLabel">Дадаць новую арганізацыю</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formAddOrg">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Тып</span>
                            <select class="form-select" aria-label="Type of org" required>
                                {% for id, name in constant('App\\Entity\\Type\\OrganizationType::TYPES') %}
                                    <option value="{{ id }}">{{ name }}</option>
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback">
                                Калі ласка, выбярыце тып арганізацыі
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="input-group">
                                <label class="input-group-text" for="newOrgName">Назва</label>
                                <input type="text" class="form-control" id="newOrgName" required>
                                <div class="invalid-feedback">
                                    Калі ласка, напішыце назву арганізацыі
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="input-group">
                                <label class="input-group-text" for="newOrgDesc">Апісаньне</label>
                                <input type="text" class="form-control" id="newOrgDesc">
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="input-group">
                                <label class="input-group-text" for="newOrgAddress">Адрас</label>
                                <input type="text" class="form-control" id="newOrgAddress">
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">Месца</span>
                            <select class="form-select" aria-label="Location of org" required>
                                <option selected disabled value="">- выбраць -</option>
                                {% for geoPoint in geoPoints %}
                                    <option value="{{ geoPoint.id }}"
                                            {% if report.geoPoint and report.geoPoint.id == geoPoint.id %}selected{% endif %}>
                                        {{ geoPoint.getFullBeName() }}
                                    </option>
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback">
                                Калі ласка, выбярыце месца знаходжаньня
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="input-group">
                                <label class="input-group-text" for="newOrgNotes">Заўвагі</label>
                                <input type="text" class="form-control" id="newOrgNotes">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыць</button>
                    <button type="button" class="btn btn-success" id="saveNewOrganization">Дадаць</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal: addInformantModal -->
    <div class="modal fade" id="addInformantModal" tabindex="-1" aria-labelledby="addInformantModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addInformantModalLabel">Дадаць новага інфарманта</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formAddInformant">
                        <div class="mb-3">
                            <div class="input-group">
                                <label class="input-group-text" for="informantName">Імя</label>
                                <input type="text" class="form-control" id="informantName" required>
                                <div class="invalid-feedback">
                                    Калі ласка, напішыце імя
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="input-group">
                                <label class="input-group-text" for="informantBirthYear">Год нараджэньня</label>
                                <input type="number" class="form-control" id="informantBirthYear"
                                       min="1850" max="2020" size="4">
                                <div class="invalid-feedback">
                                    Калі ласка, напішыце дакладна год
                                </div>
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">Адкуль</span>
                            <select class="form-select" aria-label="Месца">
                                <option selected disabled value="">- выбраць -</option>
                                {% for geoPoint in geoPoints %}
                                    <option value="{{ geoPoint.id }}"
                                            {% if report.geoPoint and report.geoPoint.id == geoPoint.id %}selected{% endif %}>
                                        {{ geoPoint.getFullBeName() }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">няма ў сьпісе</span>
                            <input type="text" class="form-control" placeholder="вёска і раён" aria-label="Server">
                        </div>

                        <div class="mb-3">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="informantLive1" value="1">
                                <label class="form-check-label" for="informantLive1">жыве тут</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="informantLive2" value="2">
                                <label class="form-check-label" for="informantLive2">невядома дзе жыве</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="informantLive3" value="3">
                                <label class="form-check-label" for="informantLive3">жыве ў іншым месцы</label>
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">Жыве ў</span>
                            <select class="form-select" aria-label="Месца">
                                <option selected disabled value="">- выбраць -</option>
                                {% for geoPoint in geoPoints %}
                                    <option value="{{ geoPoint.id }}"
                                            {% if report.geoPoint and report.geoPoint.id == geoPoint.id %}selected{% endif %}>
                                        {{ geoPoint.getFullBeName() }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">няма ў сьпісе</span>
                            <input type="text" class="form-control" placeholder="вёска і раён" aria-label="">
                        </div>

                        <div class="mb-3">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="informantSex"
                                       id="informantSexM" value="m">
                                <label class="form-check-label" for="informantSexM">мужчына</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="informantSex"
                                       id="informantSexF" value="f">
                                <label class="form-check-label" for="informantSexF">жанчына</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="informantSex"
                                       id="informantSexU" value="u" checked>
                                <label class="form-check-label" for="informantSexU">невядома</label>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="input-group">
                                <label class="input-group-text" for="informantNotes">Заўвагі</label>
                                <input type="text" class="form-control" id="informantNotes">
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="informantNotLive"
                                       id="informantLive" value="0">
                                <label class="form-check-label" for="informantLive">жыве</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="informantNotLive"
                                       id="informantDead" value="1">
                                <label class="form-check-label" for="informantDead">памёр/ла</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="informantNotLive"
                                       id="informantLiveUnknown" value="-1" checked>
                                <label class="form-check-label" for="informantLiveUnknown">невядома</label>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыць</button>
                    <button type="button" class="btn btn-success" id="saveNewInformant">Дадаць</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal: addEpisodeModal -->
    <div class="modal fade" id="addEpisodeModal" tabindex="-1" aria-labelledby="addEpisodeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addEpisodeModalLabel">Дадаць новы эпізод</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formAddEpisode">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="taskType">Тып</span>
                            <select class="form-select" aria-label="Type of episode" required>
                                {% for id, name in constant('App\\Entity\\Type\\CategoryType::TYPES') %}
                                    <option value="{{ id }}"
                                            {% if id == constant('App\\Entity\\Type\\CategoryType::STORY') %}selected{% endif %}>
                                        {{ name }}
                                    </option>
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback">
                                Калі ласка, выбярыце тып эпізода
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">Эпізод</span>
                            <textarea class="form-control" aria-label="Text of episode" required></textarea>
                            <div class="invalid-feedback">
                                Калі ласка, апішыце эпізод
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">Тэгі</span>
                            <input type="text" class="form-control" placeholder="" aria-label="Tags of episode">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыць</button>
                    <button type="button" class="btn btn-success" id="saveNewEpisode">Дадаць</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal: addSubjectModal -->
    <div class="modal fade" id="addSubjectModal" tabindex="-1" aria-labelledby="addSubjectModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addSubjectModalLabel">Дадаць новы прадмет</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formAddSubject">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="subjectType">Тып</span>
                            <select class="form-select" aria-label="Type of subject" required>
                                {% for id, name in constant('App\\Entity\\Type\\SubjectType::TYPES') %}
                                    <option value="{{ id }}">{{ name }}</option>
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback">
                                Калі ласка, выбярыце тып прадмета
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">Назва</span>
                            <textarea class="form-control" aria-label="Name of subject" required></textarea>
                            <div class="invalid-feedback">
                                Калі ласка, напішыце назву
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">Заўвагі</span>
                            <textarea class="form-control" aria-label="Notes of subject"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыць</button>
                    <button type="button" class="btn btn-success" id="saveNewSubject">Дадаць</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for new report -->
    <div class="modal fade" id="toNewReport" tabindex="-1" aria-labelledby="toNewReportLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="toNewReportLabel">Рэадагаваньне справаздачы</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Вы захавалі ўсе змены гэтай справаздачы? Пры пераходзе на стварэньне новай справаздачы
                    ўсе змены гэтай справаздачы не будуць аўтаматычна захованы.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Адмена</button>
                    <a class="btn btn-success" href="{{ path('report_new_for_active_expedition') }}">Перайсьці</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Show result of dialog -->

    <div aria-live="polite" aria-atomic="true" class="position-relative">
        <div class="toast-container position-fixed bottom-0 end-0 p-3" id="toastBlockMessages">

            <div id="toastBlockResult" class="toast" role="alert" aria-live="assertive"
                 aria-atomic="true" data-bs-delay="2000">
                <div class="toast-header">
                    <i class="bi bi-database me-2"></i>
                    <strong class="me-auto" id="toastBlockResultTitle">Title</strong>
                    <small id="toastBlockResultSubTitle">Subtitle</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body" id="toastBlockResultMessage">
                    Message
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block styles_finish %}
    <script src="{{ asset('js/exp.js') }}"></script>
{% endblock %}
