{% extends 'base.html.twig' %}

{% block title %}
    {% if report.id %}Справаздача{% else %}Новая справаздача{% endif %}
    для экспедыцыі {{ report.expedition.name }}
{% endblock %}

{% block stylesheets %}
    <style>
        .sidenav {
            width: 40px;
            position: fixed;
            z-index: 1;
            top: 50px;
            left: 5px;
            overflow-x: hidden;
            padding: 6px 0;
        }

        .sidenav a {
            padding: 2px 5px 2px 5px;
            text-decoration: none;
            font-size: 25px;
            display: block;
        }

        .main {
            margin-left: 55px; /* Same width as the sidebar + left position in px */
        }

        @media screen and (max-height: 450px) {
            .main {margin-left: 50px;}
        }
    </style>
{% endblock %}

{% block body %}
    <div class="sidenav bg-body-secondary text-primary">
        <a class="" href="#reportBody" title="Асноўная інфармацыя справаздачы"><i class="bi bi-file-text"></i></a>
        <a class="d-none showThisAfterSaveReport" href="#reportTasks" title="Планы і задачы ўсёй справаздачы"><i class="bi bi-calendar-event"></i></a>
        <hr >

        {% for block in report.blocks %}
            {% include('report/part/menu.html.twig') with {'blockIndex': loop.index} %}
        {% endfor %}

        <a class="text-success" id="createNewBlock" title="Дадаць новы блок"><i class="bi bi-plus-square"></i></a>

        <hr >
        <a class="" data-bs-toggle="modal" data-bs-target="#toNewReport" title="Дадаць новую справаздачу"><i class="bi bi-file-earmark-plus"></i></a>
    </div>

    <div class="d-none" id="blockMenuTemplate">
        {% include('report/part/menu.html.twig') with {'blockIndex': 'NUMBERBLOCK'} %}
    </div>

    <div class="main" id="mainBlock">
        <h2>{% if report.id %}Справаздача #{{ report.id }}{% else %}Новая справаздача{% endif %} для экспедыцыі {{ report.expedition.name }}</h2>
        <div>
            {% if report.id %}
                <a href="{{ path('report_show', {id: report.id}) }}">
                    <i class="bi bi-eye-fill"></i> Паглядзець
                </a>
            {% endif %}
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{ path('expedition_show', {id: report.expedition.id}) }}"><i class="bi bi-list-columns-reverse"></i> Усе справаздачы</a>
        </div>

        <div class="card mb-3" id="reportBody">
            <div class="card-header">
                Справаздача
            </div>

            <div class="card-body">
                <form id="reportEdit">
                    <input type="hidden" name="expedition" value="/api/expeditions/{{ report.expedition.id }}">
                    <input type="hidden" name="id" value="{{ report.id }}">

                    <div class="input-group mb-3">
                        {% if report.dateAction %}
                            {% set date = report.dateAction %}
                        {% else %}
                            {% set date = "now" %}
                        {% endif %}
                        <label class="input-group-text" for="newReportDate">Дата даследваньня</label>
                        <input type="date" class="form-control" id="newReportDate" required
                               name="dateAction"
                               value="{{ date|date("Y-m-d") }}"
                               max="{{ date|date("Y-m-d") }}"
                               min="{{ date|date_modify("-20 days")|date("Y-m-d") }}">
                    </div>

                    <div class="input-group mb-3">
                        <label class="input-group-text" for="newReportNotes">Агульныя заўвагі</label>
                        <input type="text" class="form-control" value="{{ report.notes }}" id="newReportNotes" name="notes">
                    </div>

                    <div class="input-group mb-3">
                        <label class="input-group-text" for="newReportCode">Код</label>
                        <input type="text" class="form-control" value="{{ report.code }}" id="newReportCode" name="code">
                        <span class="input-group-text">
                              Будзе як назва папкі для файлаў да гэтага блоку
                        </span>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">Месца</span>
                        <select class="form-select" aria-label="new report location" name="geoPoint">
                            <option value="" selected>- невядома -</option>
                            {% set selected = report.geoPoint == null %}
                            {% for geoPoint in geoPoints %}
                                <option value="/api/geo_points/{{ geoPoint.id }}"
                                        {% if report.geoPoint and report.geoPoint.id == geoPoint.id %}selected{% set selected = true %}{% endif %}>
                                    {{ geoPoint.getFullBeName() }}
                                </option>
                            {% endfor %}
                            {% if not selected %}
                                <option selected value="/api/geo_points/{{ report.geoPoint.id }}">
                                    {{ report.geoPoint.getFullBeName() }}
                                </option>
                            {% endif %}
                        </select>

                        {% include('report/part/detect.location.html.twig') %}

                        <button type="button" class="btn btn-primary">Паглядзець на мапе</button>
                        <span class="input-group-text">няма ў спісе</span>
                        <input type="text" class="form-control"
                               placeholder="вёска, раён [, вобласць, краіна]"
                               value="{{ report.geoNotes }}"
                               name="geoNotes"
                               aria-label="new report other location">
                    </div>

                    <button type="button" class="btn btn-success" id="reportSaveAction">Захаваць</button>
                </form>
            </div>
        </div>

        <div class="card mb-3 d-none showThisAfterSaveReport" id="reportUsers">
            <div class="card-header">
                Даследвальнікі
            </div>

            <div class="card-body" id="allUserRoles">
                {# list of user roles #}
                <hr>
                <p>
                    Дадаць удзельніка і яго ролі
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addReportUserModal">
                        Дадаць
                    </button>
                </p>
            </div>

            {% include('report/part/template.user.role.html.twig') %}

            <script type="application/javascript">
                {% for userRoles in report.getUserReportsGroupsByUser() %}
                    {% set userName = '' %}
                    {% set id = '' %}
                    {% set roles = '' %}
                    {% for userRole in userRoles %}
                        {% set userName = userRole.participant.gelFullName() %}
                        {% set id = userRole.participant.getId() %}

                        {% if loop.index > 1 %} {% set roles = roles ~ ', ' %} {% endif %}
                        {% set roles = roles ~ userRole.getRoleName() %}

                        addUserRoleBlock('{{ userName }}', '{{ userRole.id }}', '{{ userRole.getRoleName() }}')
                    {% endfor %}

                {% endfor %}
            </script>
        </div>

        <div class="card mb-3 d-none showThisAfterSaveReport" id="reportTasks">
            <div class="card-header">
                Планы, задачы, наводкі
            </div>

            {% set reportTaskIndex = 0 %}
            <div class="card-body" id="all_{{ reportTaskIndex }}_Tasks">
                {# list of report tasks #}
                <hr>
                <p>
                    Дадаць новы план, задачу, наводку
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#addTaskPlanModal" data-bs-block="{{ reportTaskIndex }}">
                        Дадаць
                    </button>
                </p>
            </div>

            {% include('report/part/template.report.task.html.twig') %}

            {% for task in report.tasks %}
            <script type="application/javascript">
                addReportTaskBlock('{{ reportTaskIndex }}', '{{ task.status }}', '{{ task.id }}', '{{ task.getStatusIcon() }}', '{{ task.content }}', '{% if task.informant %} {{ task.informant.firstName }} {% endif %}')
            </script>
            {% endfor %}

        </div>


        {% include('report/part/template.block.marker.html.twig') %}

        {% include('report/part/template.block.subject.html.twig') %}

        {% include('report/part/template.block.organization.html.twig') %}

        {% include('report/part/template.block.informant.html.twig') %}


        {% for block in report.blocks %}
            {% set blockIndex = loop.index %}
            {% include('report/part/block.html.twig') with {'blockIndex': loop.index, 'block': block} %}
        {% endfor %}

        <div class="d-none" id="createNewBlockTemplate">
            {% include('report/part/block.html.twig') with {'blockIndex': 'NUMBERBLOCK', 'block': newBlock} %}
        </div>
    </div>

    <!-- Modals -->

    <!-- Modal: addReportUserModal -->
    <div class="modal fade" id="addReportUserModal" tabindex="-1" aria-labelledby="addReportUserModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addReportUserModalLabel">Дадаць новага ўдзельніка</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formAddReportUser">
                        <input type="hidden" name="report" value="">

                        <div class="input-group mb-3">
                            <span class="input-group-text">Імя</span>
                            <select name="participant" class="form-select" aria-label="Name of user" required>
                                <option selected disabled value="">- выбярыце са сьпіса -</option>
                                {% for id, name in users %}
                                    <option value="/api/users/{{ id }}">{{ name }}</option>
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback">
                                Калі ласка, выберыце даследчыка
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            {% for role, name in constant('App\\Entity\\Type\\UserRoleType::ROLES') %}
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input roles" type="checkbox" aria-label="Name of roles"
                                           name="role" value="{{ role }}" data-name="{{ name }}">
                                    <label class="form-check-label">{{ name }}</label>
                                </div>
                            {% endfor %}
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыць</button>
                    <button type="button" class="btn btn-success" id="saveReportUser">Дадаць</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal: addTaskPlanModal -->
    <div class="modal fade" id="addTaskPlanModal" tabindex="-1" aria-labelledby="addTaskPlanModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addTaskPlanModalLabel">Дадаць новы план, задачу, наводку</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formAddTaskPlan">
                        <input type="hidden" name="blockIndex" value="">
                        <input type="hidden" name="report" value="">
                        <input type="hidden" name="reportBlock" value="">
                        <input type="hidden" name="id" value="">

                        <div class="input-group mb-3">
                            <span class="input-group-text">Тып</span>
                            <select class="form-select" aria-label="Type of task" name="status" required>
                                {% for id, name in constant('App\\Entity\\Type\\TaskStatus::STATUSES') %}
                                    <option value="{{ id }}">{{ name }}</option>
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback">
                                Калі ласка, выбярыце тып
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">Тэкст</span>
                            <textarea class="form-control" aria-label="Text of task" name="content" required></textarea>
                            <div class="invalid-feedback">
                                Калі ласка, напішыце тэкст задачы
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">Інфармант</span>
                            <select class="form-select" aria-label="Informant of task">
                                <option selected>- выбраць -</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыць</button>
                    <button type="button" class="btn btn-success" id="saveNewTask">Дадаць</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal: addOrgModal -->
    <div class="modal fade" id="addOrgModal" tabindex="-1" aria-labelledby="addOrgModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addOrgModalLabel">Дадаць новую арганізацыю</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formAddOrg">
                        <input type="hidden" name="blockIndex" value="">
                        <input type="hidden" name="id" value="">

                        <div class="input-group mb-3">
                            <span class="input-group-text">Тып</span>
                            <select class="form-select" aria-label="Type of organization" name="type" required>
                                {% for id, name in constant('App\\Entity\\Type\\OrganizationType::TYPES') %}
                                    <option value="{{ id }}">{{ name }}</option>
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback">
                                Калі ласка, выбярыце тып арганізацыі
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="input-group">
                                <label class="input-group-text">Назва</label>
                                <input type="text" class="form-control" name="name" aria-label="Name of organization" required>
                                <div class="invalid-feedback">
                                    Калі ласка, напішыце назву арганізацыі
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="input-group">
                                <span class="input-group-text">Апісаньне</span>
                                <textarea class="form-control" aria-label="Description of organization" name="description"></textarea>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="input-group">
                                <span class="input-group-text">Адрас</span>
                                <textarea class="form-control" aria-label="Address of organization" name="address"></textarea>
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">Месца</span>
                            <select class="form-select" aria-label="Location of org" name="geoPoint" required>
                                <option value="">- выбраць -</option>
                                {% for geoPoint in geoPoints %}
                                    <option value="/api/geo_points/{{ geoPoint.id }}"
                                            {% if report.geoPoint and report.geoPoint.id == geoPoint.id %}selected{% endif %}>
                                        {{ geoPoint.getFullBeName() }}
                                    </option>
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback">
                                Калі ласка, выбярыце месца знаходжаньня
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="input-group">
                                <span class="input-group-text">Заўвагі</span>
                                <textarea class="form-control" aria-label="Notes of organization" name="notes"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыць</button>
                    <button type="button" class="btn btn-success" id="saveNewOrganization">Дадаць</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal: addInformantModal -->
    <div class="modal fade" id="addInformantModal" tabindex="-1" aria-labelledby="addInformantModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addInformantModalLabel">Дадаць новага інфарманта</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formAddInformant">
                        <input type="hidden" name="blockIndex" value="">
                        <input type="hidden" name="id" value="">

                        <div class="mb-3">
                            <div class="input-group">
                                <label class="input-group-text">Імя</label>
                                <input type="text" class="form-control" name="firstName" required aria-label="Name of informant">
                                <div class="invalid-feedback">
                                    Калі ласка, напішыце імя
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="input-group">
                                <label class="input-group-text">Год нараджэньня</label>
                                <input type="number" class="form-control" name="yearBirth" aria-label="Year of birth"
                                       min="1850" max="2020" size="4">
                                <div class="invalid-feedback">
                                    Калі ласка, напішыце дакладна год
                                </div>
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">Адкуль</span>
                            <select class="form-select" aria-label="Месца" name="geoPointBirth">
                                <option value="">- выбраць -</option>
                                {% for geoPoint in geoPoints %}
                                    <option value="/api/geo_points/{{ geoPoint.id }}"
                                            {% if report.geoPoint and report.geoPoint.id == geoPoint.id %}selected{% endif %}>
                                        {{ geoPoint.getFullBeName() }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">няма ў сьпісе</span>
                            <input type="text" class="form-control" placeholder="вёска і раён" name="placeBirth" aria-label="Birth place">
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">Жыве ў</span>
                            <select class="form-select" aria-label="Месца" name="geoPointCurrent">
                                <option value="">- выбраць -</option>
                                {% for geoPoint in geoPoints %}
                                    <option value="/api/geo_points/{{ geoPoint.id }}"
                                            {% if report.geoPoint and report.geoPoint.id == geoPoint.id %}selected{% endif %}>
                                        {{ geoPoint.getFullBeName() }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">няма ў сьпісе</span>
                            <input type="text" class="form-control" placeholder="вёска і раён" name="placeCurrent" aria-label="live place">
                        </div>

                        <div class="mb-3">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender"
                                       id="informantSexM" value="{{ constant('App\\Entity\\Type\\GenderType::MALE') }}">
                                <label class="form-check-label" for="informantSexM">мужчына</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender"
                                       id="informantSexF" value="{{ constant('App\\Entity\\Type\\GenderType::FEMALE') }}">
                                <label class="form-check-label" for="informantSexF">жанчына</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender"
                                       id="informantSexU" value="{{ constant('App\\Entity\\Type\\GenderType::UNKNOWN') }}" checked>
                                <label class="form-check-label" for="informantSexU">невядома</label>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="input-group">
                                <label class="input-group-text" for="informantNotes">Заўвагі</label>
                                <input type="text" class="form-control" id="informantNotes" name="notes">
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыць</button>
                    <button type="button" class="btn btn-success" id="saveNewInformant">Дадаць</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal: addEpisodeModal -->
    <div class="modal fade" id="addEpisodeModal" tabindex="-1" aria-labelledby="addEpisodeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addEpisodeModalLabel">Дадаць новы эпізод</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formAddEpisode">
                        <input type="hidden" name="blockIndex" value="">
                        <input type="hidden" name="id" value="">

                        <div class="input-group mb-3">
                            <span class="input-group-text">Тып</span>
                            <select class="form-select" aria-label="Type of episode" name="category" required>
                                {% for id, name in constant('App\\Entity\\Type\\CategoryType::TYPES') %}
                                    <option value="{{ id }}"
                                            {% if id == constant('App\\Entity\\Type\\CategoryType::STORY') %}selected{% endif %}>
                                        {{ name }}
                                    </option>
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback">
                                Калі ласка, выбярыце тып эпізода
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">Эпізод</span>
                            <textarea class="form-control" aria-label="Text of episode" name="name" required></textarea>
                            <div class="invalid-feedback">
                                Калі ласка, апішыце эпізод
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">Тэгі</span>
                            <input type="text" class="form-control" placeholder="" name="tags" aria-label="Tags of episode">
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">Заўвагі</span>
                            <textarea class="form-control" aria-label="Notes of episode" name="notes"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыць</button>
                    <button type="button" class="btn btn-success" id="saveNewEpisode">Дадаць</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal: addSubjectModal -->
    <div class="modal fade" id="addSubjectModal" tabindex="-1" aria-labelledby="addSubjectModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addSubjectModalLabel">Дадаць новы прадмет</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formAddSubject">
                        <input type="hidden" name="blockIndex" value="">
                        <input type="hidden" name="expedition" value="/api/expeditions/{{ report.expedition.id }}">
                        <input type="hidden" name="reportBlock" value="">
                        <input type="hidden" name="id" value="">

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="subjectType">Тып</span>
                            <select class="form-select" aria-label="Type of subject" name="type" required>
                                {% for id, name in constant('App\\Entity\\Type\\SubjectType::TYPES') %}
                                    <option value="{{ id }}">{{ name }}</option>
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback">
                                Калі ласка, выбярыце тып прадмета
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">Назва</span>
                            <textarea class="form-control" aria-label="Name of subject" name="name" required></textarea>
                            <div class="invalid-feedback">
                                Калі ласка, напішыце назву
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">Заўвагі</span>
                            <textarea class="form-control" aria-label="Notes of subject" name="notes"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыць</button>
                    <button type="button" class="btn btn-success" id="saveNewSubject">Дадаць</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for new report -->
    <div class="modal fade" id="toNewReport" tabindex="-1" aria-labelledby="toNewReportLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="toNewReportLabel">Рэадагаваньне справаздачы</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Вы захавалі ўсе змены гэтай справаздачы? Пры пераходзе на стварэньне новай справаздачы
                    ўсе змены гэтай справаздачы не будуць аўтаматычна захованы.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Адмена</button>
                    <a class="btn btn-success" href="{{ path('report_new_for_active_expedition') }}">Перайсьці</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Show result of dialog -->

    <div aria-live="polite" aria-atomic="true" class="position-relative">
        <div class="toast-container position-fixed bottom-0 end-0 p-3" id="toastBlockMessages">

            <div id="toastBlockResult" class="toast" role="alert" aria-live="assertive"
                 aria-atomic="true" data-bs-delay="4000">
                <div class="toast-header">
                    <i class="bi bi-database me-2"></i>
                    <strong class="me-auto" id="toastBlockResultTitle">Title</strong>
                    <small id="toastBlockResultSubTitle">Subtitle</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body" id="toastBlockResultMessage">
                    Message
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block styles_finish %}
    <script src="{{ asset('js/exp.js') }}"></script>
{% endblock %}
