{% extends 'base.html.twig' %}

{% block title %}
    {{ expedition.name }}
{% endblock %}

{% block stylesheets %}
<style>
    #map { height: 300px; }
</style>
{% endblock %}

{% block styles_finish %}
    {{ include('part/finish.for.geomapdata.html.twig') }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="h2">Экспедыцыя {{ expedition.name }}</h1>
        <div class="row">
            <p class="text-end d-print-none"><small><a href="{{ path('expedition_show', {id: expedition.id}) }}">Справаздачы</a></small></p>
            <p>
                {% if expedition.startDate %}
                    Даты правядзеньня:
                        {{ expedition.startDate|format_datetime(pattern: 'dd.MM.Y') }}
                        - {{ expedition.endDate|format_datetime(pattern: 'dd.MM.Y') }}.
                {% endif %}
                {% if expedition.geoPoint %}
                    База: <b>{{ expedition.geoPoint.getLongBeName() }}</b>
                    {% if expedition.geoPoint.district %}
                        ({{ expedition.geoPoint.district }} )
                    {% endif %}
                {% endif %}
            </p>

            {% if geoMapData.center %}
                <div id="map" class="d-print-none"></div>
            {% endif %}

            <p>
                <h5 class="d-print-none text-success">Уся інфармацыя з гэтай экспедыцыі</h5>

                {% include 'part/marker.grouped.html.twig' with {'markerGroups': markerGroups, 'categories': categories} %}
            </p>

        </div>
    </div>
{% endblock %}
