{% extends 'base.html.twig' %}

{% block title %}
    {{ expedition.name }}
{% endblock %}

{% block stylesheets %}
<style>
    #map { height: 300px; }
</style>
{% endblock %}

{% block styles_finish %}
    {{ include('part/finish.for.geomapdata.html.twig') }}
{% endblock %}

{% block body %}
    <div class="container py-5">
        <h1 class="h2">Экспедыцыя {{ expedition.name }}</h1>
        <div class="row">
            <p class="text-end"><small><a href="{{ path('expedition_list') }}">Усе экспедыцыі</a></small></p>
            <p>
                {% if expedition.startDate %}
                    Даты правядзеньня:
                        {{ expedition.startDate|format_datetime(pattern: 'dd.MM.Y') }}
                        - {{ expedition.endDate|format_datetime(pattern: 'dd.MM.Y') }}.
                {% endif %}
                {% if expedition.geoPoint %}
                    База: <b>{{ expedition.geoPoint.getLongBeName() }}</b>
                    {% if expedition.geoPoint.district %}
                        ({{ expedition.geoPoint.district }} )
                    {% endif %}
                {% endif %}
                <a href="{{ path('expedition_all_tips', {id: expedition.id}) }}">Усе задачы/наводкі</a>
            </p>

            <p>
                {% set all = 0 %}
                {% for category, count in statistics %}
                    <a href="#">{{ categories[category] }} ({{ count }})</a>{% if not loop.last %},{% else %}.{% endif %}
                    {% set all = all + count %}
                {% endfor %}
                {% if all > 0 %}
                    Усяго: {{ all }}
                {% endif %}
            </p>

            {% if geoMapData.center %}
                <div id="map"></div>
            {% endif %}

            {% if expedition.subjects|length %}
                <p>
                    <h5>Прадметы</h5>
                    <ul class="list-group">
                        {% for subject in expedition.subjects %}
                            <li class="list-group-item">
                                <a href="{{ path('subject_show', {id: subject.id}) }}">
                                    <b>{{ subject.getTypeName() }}</b>
                                    {{ subject.name }} {% if subject.model %}({{ subject.model }}){% endif %}
                                </a>
                                | {{ subject.files|length }} файлаў

                                {% set amountMarkers = subject.getAmountAllMarkersInFiles() %}
                                | {{ amountMarkers }} метак
                                {% if amountMarkers > 0 %}
                                    ({{ subject.getAmountDecodingsInFileMarkers() }} расшыфровак)
                                {% endif %}
                                {% if subject.notes %}
                                    | <small>{{ subject.notes }}</small>
                                {% endif %}
                                {% if subject.digit %}
                                    | <i class="bi bi-floppy" title="Алічбаваная: {{ subject.digit }}"></i>
                                {% endif %}
                                {% if subject.marked %}
                                    | <i class="bi bi-file-earmark-break" title="Размечана"></i>
                                {% endif %}
                                {% if subject.hasText %}
                                    | <i class="bi bi-chat-left-text" title="Расшыфравана"></i>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </p>
            {% endif %}

            <p>
                <h5>Справаздачы
                    (
                        {% if reports|length == constant('App\\Service\\ReportService::MAX_REPORTS_FOR_VIEW') %} больш за {% endif %}
                        {{ reports|length }}
                    )
                </h5>
                {% if is_granted('ROLE_USER') %}
                    <div>
                        <a href="{{ path('report_new_by_expedition', {id: expedition.id}) }}">
                            <i class="bi bi-file-earmark-plus"></i> Дадаць справаздачу
                        </a>
                    </div>
                {% endif %}

                <ul class="list-group">
                    {% for report in reports %}
                        <a href="{{ path('report_show', {id: report.id}) }}" class="list-group-item list-group-item-action">
                            {{ report.getTextDateAction() }}
                            {% if report.geoPoint %}
                                <b>{{ report.geoPoint.getLongBeName() }}</b>
                                {% if report.geoPoint.district %}
                                    ({{ report.geoPoint.district }} )
                                {% endif %}
                            {% else %}
                                <b>{{ report.geoNotes }}</b>
                                {% if report.geoNotes is empty %}
                                    <span class="text-danger" title="Няма лакацыі!"><i class="bi bi-exclamation-triangle"></i> Лок.</span>
                                {% else %}
                                    <span class="text-danger-emphasis" title="Недакладная лакацыя!"><i class="bi bi-exclamation-triangle"></i> Лок.</span>
                                {% endif %}
                            {% endif %}
                            {% if not report.getLeader() %}
                                <span class="text-danger" title="Няма кіраўніка!"><i class="bi bi-exclamation-triangle"></i> Кір.</span>
                            {% endif %}
                            {% if report.notes is not empty %}
                                <span class="text-success" title="{{ report.notes }}"><i class="bi bi-info-square"></i> Зам.</span>
                            {% endif %}
                            {% if report.getAmountTaskQuestions() > 0 %}
                                <span class="text-primary" title="Пытаньні">
                                    <i class="bi bi-question-square"></i> <b>{{ report.getAmountTaskQuestions() }}</b>
                                </span>
                            {% endif %}
                            {% if report.getAmountTaskTips() > 0 %}
                                <span class="text-primary" title="Наводкі">
                                    <i class="bi bi-truck"></i> <b>{{ report.getAmountTaskTips() }}</b>
                                </span>
                            {% endif %}

                            {% if report.blocks is empty %}
                                <span class="text-danger" title="Няма блокаў!"><i class="bi bi-exclamation-triangle"></i> Блокі</span>
                            {% endif %}
                            {% for block in report.blocks %}
                                | <span title="Назва папкі на дыску для файлаў: {{ block.code }}">{{ block.getTypeName() }}</span>
                                {% if block.code is empty %}
                                    <span class="text-danger-emphasis" title="Няма кода ў блока!"><i class="bi bi-exclamation-triangle"></i></span>
                                {% endif %}
                                {% if block.type == constant('App\\Entity\\Type\\ReportBlockType::TYPE_CONVERSATION') %}
                                    {% if block.getInformants() is empty %}
                                        <span class="text-danger" title="Няма інфармантаў!"><i class="bi bi-exclamation-triangle"></i> Інф.</span>
                                    {% endif %}
                                    {% if block.getContentFile() is empty %}
                                        <span class="text-danger" title="Няма зместу!"><i class="bi bi-exclamation-triangle"></i> Змест</span>
                                    {% elseif block.getContentFile().getFileMarkers() is empty %}
                                        <span class="text-danger-emphasis" title="Змест пусты!"><i class="bi bi-exclamation-triangle"></i> Змест</span>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                        </a>
                    {% endfor %}
                </ul>
            </p>
        </div>
    </div>
{% endblock %}
